<configuration debug="false" scan="true">
    <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} %highlight(%5level) %msg%n%ex{short}</pattern>
        </encoder>
    </appender>

    <logger level="DEBUG" name="entities-lookup"/>

    <!-- Default root logger -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
